body {
    padding: 0;
    margin: 0;
    background-color: rgb(158, 0, 0);
}

h3 {
    font-size: 50px;
}

p {
    margin-bottom: 23px;
    font-size: 12px;
}

.container_all {
    margin: 320px;
    color: white;
    font-family: 'Times New Roman';
    text-align: center;
}

.bottons {
    display: flex;
    justify-content: center;
}

#yesBtn {
    padding: 10px 50px;
    margin: 10px;
    font-size: 15px;
}

#noBtn {
    padding: 10px 30px;
    margin: 10px;
    font-size: 15px;
}